@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;0,600;0,700;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* #060606 */
body,
html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #060606;
}
.CodeMirror {
  height: 100%;
  background: hsl(228, 7%, 12%);
  color: #fff;
}
.CodeMirror-scroll {
  overflow-y: scroll !important;
}
.CodeMirror-gutters {
  background: hsl(228, 7%, 12%);
  color: #fff;
  border: none;
}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #fff;
  white-space: nowrap;
}
.CodeMirror-cursor {
  border-left: 1px solid #fff;
}
.code-mirror-wrapper {
  flex-grow: 1;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  height: 100%;
  padding-bottom: 4rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
